/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  color: #333333;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  background: #272030;
}
body .container {
  max-width: 800px;
  width: 100%;
  padding: 0 15px;
  left: 25%;
  position: absolute;

}
body .container h1 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
}
