/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
body h1 {
  color: #333333;
  font-family: 'Roboto';
}
body .container {
  max-width: 800px;
  width: 100%;
  padding: 0 15px;
  left: 25%;
  position: absolute;

}

body .container .data .comp{
  text-decoration: line-through;
}

body.material-icons {

}
